<div ng-controller="WebshopEngineCtrl">

	<div class="container">
		<h1>Webshop Engine</h1>
		<p>Choose one from these great webshops!</p>
		<ul>
			<li ng-repeat="w in webshops"><a ui-sref="webshops.home({webshopID: w.webshopID})">{{w.name}}</a></li>
		</ul>
		
		<p>We have the following products:</p>
		<ul>
			<li ng-repeat="p in products">{{p}}</li>
		</ul>
	</div>
	
	<div class="container">
		<footer>
			<a ui-sref="admin.home">Admin site</a>
		</footer>
	</div>
	
</div>