
		<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New product</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Create a new product
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Product name</label>
                                            <input type="text" class="form-control" placeholder="Enter a name" ng-model="name">
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <input type="text" class="form-control" placeholder="Enter a description" ng-model="desc">
                                        </div>
										<div class="form-group">
                                            <label>Price</label>
                                            <input type="text" class="form-control" placeholder="Enter a price" ng-model="price">
                                        </div>
                                        <div class="form-group">
                                            <label>Category</label>
                                            <input type="text" class="form-control" placeholder="Enter a category" ng-model="categ">
                                            <p class="help-block">TODO: select.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Image</label>
                                            <input type="image" class="form-control" placeholder="Enter an image" ng-model="img">
                                            <p class="help-block">TODO: upload image.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Product ID</label>
                                            <input type="number" class="form-control" placeholder="Enter a number" ng-model="id">
                                            <p class="help-block">TODO: remove it.</p>
                                        </div>
                                        <button type="submit" class="btn btn-default">Create</button><!--ng-click="createNewWebshop(name, id)"-->
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
