
		<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New webshop</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Create a new webshop
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Webshop name</label>
                                            <input type="text" class="form-control" placeholder="Enter a name" ng-model="name">
                                        </div>
                                        <div class="form-group">
                                            <label>Bank account number</label>
                                            <input type="text" class="form-control" placeholder="Enter a bank account number" ng-model="bank">
                                        </div>
										<div class="form-group">
                                            <label>Address</label>
                                            <input type="text" class="form-control" placeholder="Enter an address" ng-model="address">
                                        </div>
										<div class="form-group">
                                            <label>Phone</label>
                                            <input type="tel" class="form-control" placeholder="Enter a phone number" ng-model="phone">
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" placeholder="Enter an email address" ng-model="email">
                                        </div>
                                        <div class="form-group">
                                            <label>Friendly URL</label>
                                            <input type="text" class="form-control" placeholder="Enter a friendly URL name" ng-model="url">
                                        </div>
                                        <button type="submit" class="btn btn-primary" ng-click="createNewWebshop(name, bank, address, phone, email, url)">Create</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
